# -------------------
# Jekyll Config
# --------------------
baseurl: ""
url: ""
permalink: pretty
markdown: kramdown
highlighter: rouge
collections_dir: collections

# Plugins
plugins:
  - jekyll-environment-variables
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page/:num"

collections:
  projects:
    output: true
    permalink: /:collection/:path/
  posts:
    output: true
    permalink: /blog/:path/

defaults:
  - scope:
      path: ""
      type: projects
    values:
      layout: project
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      weight: 999
  - scope:
      path: "images"
    values:
      image: true
  - scope:
      path: "categories"
    values:
      permalink: /category/:basename/
  - scope:
      path: "pages"
    values:
      permalink: /:basename/

# SCSS
sass:
  style: compact

# Excludes
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE
  - netlify.toml


# -------------------
# Theme Config
# --------------------
title: "nasheed.io"
category_dir: category

colors:
  #light-mode colors
  primary: "#0d042b"
  primary_2: "#0d042b"
  primary_text: "#fdfcf9"
  secondary: "#faebd7"
  background: "#fdfcf9"
  background_2: "#f7f6ed"
  background_3: "#faebd7"
  text: "#0d042b"
  text_2: "#3b364c"
  logo_text: "#0d042b"
  menu_text: "#0d042b"

  # dark-mode colors
  primary_dark: "#fdfcf9"
  primary_2_dark: "#fdfcf9"
  primary_text_dark: "#251654"
  secondary_dark: "#251654"
  background_dark: "#0b0326"
  background_2_dark: "#150c32"
  background_3_dark: "#251654"
  text_dark: "#f5f5ec"
  text_2_dark: "#929eaf"
  logo_text_dark: "#fdfcf9"
  menu_text_dark: "#fdfcf9"

fonts:
  google_fonts: "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Fira+Mono&display=swap"
  heading: "DM Sans"
  base: "DM Sans"
  monospace: "Fira Mono"
  logo: "DM Sans"

logo:
  logo_text: "nasheed-x"
  logo_image: assets/images/logo/logo.png
  logo_image_mobile: assets/images/logo/logo.png
  logo_image_invert: assets/images/logo/logo-invert.png
  logo_image_invert_mobile: assets/images/logo/logo-invert.png
  logo_image_desktop_height: "60px"
  logo_image_desktop_width: "auto"
  logo_image_mobile_height: "60px"
  logo_image_mobile_width: "auto"
  show_logo_image_on_mobile: false
  show_logo_image_on_desktop: false
  show_logo_text_on_mobile: false
  show_logo_text_on_desktop: false
  
seo:
  meta_opengraph_type: "website"
  meta_twitter_card: "summary"
  meta_twitter_site: "@nasheed_x"
  meta_twitter_creator: "@nasheed_x"

header: 
  fixed: true

darkmode:
  enable_dark_mode: true
  show_dark_mode_toggle_in_header: true
  show_dark_mode_toggle_in_bottom: false
  show_dark_mode_toggle_in_mobile_menu: true

analytics:
  google_analytics_id: "G-5VHTWTRJN7"

disqus:
  shortname: "" 
  
mailchimp:
  form_action_url: 

contact_form: 
  use_netlify_form: false
  use_formspree_form: false
  formspree_endpoint: 
  netlify_form_name: 

menu: 
  show_dropdown_items_in_mobile_menu: false
  show_social_media_in_mobile_menu: true

footer:
  enable_footer: true # show/hide the entire footer
  footer_title:
  footer_description: made in the eds with <b><a href="https://www.instagram.com/iamstreetcat">streetCat</a></b> and ❤️
  enable_social_media_icons: true
  enable_contact_details: false
  enable_menu_footer_primary: true
  enable_menu_footer_secondary: true
  enable_menu_footer_tertiary: false
  footer_primary_menu_title: "quick links"
  footer_secondary_menu_title: "other sites"
  footer_tertiary_menu_title: "Other"

bottom:
  enable_bottom: true # show/hide the entire bottom (below the footer)
  enable_bottom_menu: false # if enabled, the bottom menu can be edited in `_data/menu.yml`
  copyright_text: "© 2023 nasheed ur rehman"

